
<link rel="stylesheet" type="text/css" href="task.css">
<body>
<h1>To Do List</h1>


<br>

<% @post.each do |item| %>
	<p> <%= item.content %> </p>
<% end %>

<br>
<br>


<a href="/newTask">Add more to list</a>
</body>