
<h1>To Do list</h1>

<br>

<h3>Enter the contents of your list</h3>

<br>

<form action="/list" method="POST">

<input type="text" name="content" placeholder="task description">

<br>
<br>

<button type="submit">Submit</button>
<button type="submit">Finish</button>


</form>